{% extends 'base.html' %}

{% block content %}

<style>
  .content-nav td {
    padding: 15px 10px; /* Top/Bottom padding, Left/Right padding */
    border-bottom: 1px solid #ddd; /* Optional: adds a light line between rows */
  }
</style>

<div class="nav">
  <h2>– TRANSFER RECORDS –</h2>

  <table class="content-nav">
    <thead>
      <tr>
        <th>#</th>
        <th>Player</th>
        <th>From</th>
        <th>To</th>
        <th>Season</th>
        <th>Fee (M €)</th>
      </tr>
    </thead>

    <tbody>
      {% for transfer in transfers %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ transfer.player.name }}</td>
        <td>{{ transfer.old_club.name }}</td>
        <td>{{ transfer.new_club.name }}</td>
        <td>{{ transfer.season.name }}</td>
        <td>{{ transfer.price }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="6">No transfer records found.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}