{% extends 'base.html' %}
{% block content %}
<div class="nav">
  <h2>– TRANSFER RECORDS –</h2>

  <table class="content-nav">
    <thead>
      <tr>
        <th>#</th>
        <th>Player</th>
        <th>From</th>
        <th>To</th>
        <th>Season</th>
        <th>Fee (M €)</th>
      </tr>
    </thead>

    <tbody>
      {% for transfer in transfers %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ transfer.player.name }}</td>
        <td>{{ transfer.old_club.name }}</td>
        <td>{{ transfer.new_club.name }}</td>
        <td>{{ transfer.season.name|default:"-" }}</td>
        <td>{{ transfer.price|default:"N/A" }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="6">No transfer records found.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}